<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta name="keywords" content="grap, email, smtp, smtp-server, api, testing">
        <meta name="author" content="ivstiv">
        <meta name="robots" content="index, follow">
        <meta property="og:title" content="grap | Temporary email">
        <meta property="og:description" content="Simple service for generating temporary email addresses.">
        <meta property="og:url" content="https://grap.email">
        <meta name="description" content="Simple service for generating temporary email addresses.">
        <link rel="stylesheet" href="/public/css/main.css" media="screen">
        <script src="/public/js/navigation.js" defer></script>
        {% block head %}
        <title>grap | Temporary email</title>
        {% endblock %}
    </head>
    <body>
        <header>
            <h1 class="logo">gr@p</h1>
            <button class="nav-toggle btn btn-invisible">
                {% render "partials/icon", name: "menu" %}
            </button>
        </header>
        <aside>
            <nav>
                <div class="nav-header">
                    <h1 class="logo">gr@p</h1>
                    <button class="nav-toggle btn btn-invisible">
                        {% render "partials/icon", name: "x" %}
                    </button>
                </div>
                <ul>
                    <li>
                        <a href="/new/index">
                            {% render "partials/icon", name: "home" %}
                            <span>Home</span>
                        </a>
                    </li>
                    <li>
                        <a href="/new/login">
                            {% render "partials/icon", name: "log-in" %}
                            <span>Login</span>
                        </a>
                    </li>
                    <li>
                        <a href="#">
                            {% render "partials/icon", name: "user-plus" %}
                            <span>Register</span>
                        </a>
                    </li>
                    <li>
                        <a href="#">
                            {% render "partials/icon", name: "file-text" %}
                            <span>Documentation</span>
                        </a>
                    </li>
                    <li>
                        <hr>
                    </li>
                    <li>
                        <a href="#">
                            {% render "partials/icon", name: "tool" %}
                            <span>System settings</span>
                        </a>
                    </li>
                    <li>
                        <a href="#">
                            {% render "partials/icon", name: "users" %}
                            <span>System users</span>
                        </a>
                    </li>
                    <li>
                        <hr>
                    </li>
                    <li>
                        <a href="#">
                            {% render "partials/icon", name: "grid" %}
                            <span>Dashboard</span>
                        </a>
                    </li>
                    <li>
                        <a href="#">
                            {% render "partials/icon", name: "settings" %}
                            <span>Settings</span>
                        </a>
                    </li>
                    <li>
                        <a href="#">
                            {% render "partials/icon", name: "log-out" %}
                            <span>Logout</span>
                        </a>
                    </li>
                </ul>
            </nav>
            <div>
                <hr>
                <div class="nav-footer">
                    <span>Theme:</span>
                    <button class="theme-toggle btn btn-invisible">
                        {% render "partials/icon", name: "sun" %}
                    </button>
                </div>
            </div>
        </aside>
        <main>
            {% block body %}
            {% endblock %}
        </main>
    </body>
</html>