{% layout "layouts/main-layout" %}

{% block mobile-title %}
<link rel="stylesheet" href="/public/css/pages/4xx.css" media="screen">
<h1 class="mobile-page-title">400 Bad Request</h1>
{% endblock %}

{% block head %}
<title>grap | Not found</title>
{% endblock %}

{% block body %}
<div class="error-page-wrapper">
    <h1>404 Not Found</h1>
    <h3>The requested resource could not be found! :(</h3>
</div>
{% endblock %}