{% layout "layouts/main-layout" %}

{% block mobile-title %}
<h1 class="mobile-title">Login</h1>
{% endblock %}

{% block head %}
<title>grap | Login</title>
{% endblock %}

{% block body %}
<h1 class="mobile-title">Login</h1>
<form method="post" action="login">
    <div>
        <label for="email">Email</label>
        <input type="email" name="email" required>
    </div>
    <div>
        <label for="password">Password</label>
        <input type="password" name="password" required>
    </div>
    <button type="submit">Submit</button>
    <a href="/register">Don't have an account?</a>
</form>
{% endblock %}