<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('../partials/head'); %>
</head>
<body>
    <header>
        <%- include('../partials/header'); %>
    </header>
    <h1 data-test-id="title">404 Not Found</h1>
    <% if (typeof flashMessage !== "undefined") { %>
        <p><mark><%= flashMessage %></mark></p>
    <% } %>
    <p>
        The requested resource could not be found! :(
    </p>
</body>
</html>