<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('../partials/head'); %>
</head>
<body>
    <header>
        <%- include('../partials/header'); %>
    </header>
    <h1>404 Not found</h1>
    <p>
        The requested resource could not be found! :(
    </p>
</body>
</html>