<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('../partials/head'); %>
</head>
<body>
    <header>
        <%- include('../partials/header'); %>
    </header>
    <h1>About</h1>

    <section>
        <h3>Why does this exist?</h3>
        <h5>TL;DR: to keep it simple</h5>
        <p>
            I got tired of endless email capturing services with stupid pricing justified
            by a ton of features that I will never use.
            grap aims to be a simple SMTP server wrapped with an API and user system to:
        </p>
        <ul>
            <li>
                Generate temporary email addresses on the fly
            </li>
            <li>
                Grab email contents through the api
            </li>
            <li>
                Be easy to consume and parse the emails from scripts
            </li>
            <li>
                Simple to self-host and setup
            </li>
        </ul>
    </section>

    <h3>Service</h3>
    <p>
        At the moment everything is running from a single docker container on a tiny VPS.
        Even the database is a file powered sqlite. I am planning to keep it that way
        as long as I can.
    </p>

    <h3>Contact & Support</h3>
    <p>
        You can find me in my <a href="https://discord.gg/VMSDGVD">discord server</a> or just spam the service with emails.
        I might notice the outage and reply.. 🫠
    </p>
</body>
</html>