<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('../partials/head'); %>
</head>
<body>
    <header>
        <%- include('../partials/header'); %>
    </header>
    <h1>This is grap</h1>
    <blockquote>
        <p>a simple service for generating temporary email addresses</p>
    </blockquote>

    <article>
        <h3>How does it work?</h3>
        You can either use the API endpoint or experiment with the dashboard.
        <code>
            <pre>curl -H "Authorization: Bearer" https://grap.email/api/v1/address</pre>
        </code>
        This will give you something like theoretical.seahorse@grap.email, 
        a temporary address valid for an hour.
    </article>

    <section>
        <h3>What can I do with it?</h3>
        It is really up to you: e2e testing, email propagation, other CI/CD integrations etc.
        <details>
            <summary>JS Snippet</summary>
            <code>
                <pre>
// generate a temporary address
const emailAdr = await fetch('https://grap.email/api/address', {
    headers: {
        'Authorization': `Bearer ${token}`,
    },
}).then(r => r.text());

// do the user registration
// wait for a confirmation email

let email;
while(email === undefined) {
    email = await fetch(`https://grap.email/api/inbox/${emailAdr}`, {
        headers: {
            'Authorization': `Bearer ${token}`,
        },
    });
}
// parse the contents and confirm the registration
                </pre>
            </code>
        </details>
    </section>

    <h3>Do I need to pay?</h3>
    <p>
        No, this is a free service. It is not sustainable in any way, so I can't 
        promise you 99% uptime or support. There are plenty of paid alternatives to do that.
        <u>This gives you an option</u>, you can <a href="#">self-host it</a>, contibute to the <a href="#">project</a>
        or simply help with questions.
    </p>
</body>
</html>