<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="/public/js/theme.js" defer></script>
    <link rel="stylesheet" href="/public/css/main.css" media="screen">
    <title>Document</title>
  </head>
  <body cz-shortcut-listen="true">
    <header>
      <h1 id="logo">gr@p</h1>
      <div class="header-buttons">
        <button id="theme-toggle" class="button">🌞</button>
        <a href="/login" class="button primary">Login</a>
      </div>
    </header>
    <main>
      <section id="hero">
        <div class="content">
          <h1>Temporary email address service</h1>
          <p>
            Grap aims to be an extremely simple system to manage temporary email addresses.
            It ships with the bare minimum of features needed for automation.
            You can learn more about it <a href="/about">here</a>.
          </p>
          <div class="buttons">
            <a href="/register" class="button primary">
              Register
            </a>
            <a href="#" class="button">
              Self-host
            </a>
          </div>
        </div>
        <img id="code-preview" src="/public/img/code1.png" alt="Code snippet">
      </section>

      <section id="sub">
        <h2>I totally didn't "borrow" the front page of <a href="https://axios-http.com" target="_blank">axios</a> . . .</h2>
      </section>
    </main>
  </body>
</html>