<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="/public/js/theme.js" defer></script>
    <link rel="stylesheet" href="/public/css/main.css" media="screen">

    <link rel="stylesheet" href="/public/css/pages/login.css" media="screen">
    <title>Document</title>

  </head>
  <body cz-shortcut-listen="true">
    <header>
      <h1 id="logo">gr@p</h1>
      <div class="header-buttons">
        <button id="theme-toggle" class="button">🌞</button>
        <a href="/login" class="button primary">Login</a>
      </div>
    </header>
    <main class="login-page">
      <div class="card">
        <div class="card-header">
          <h1>Login</h1>
        </div>
        <p>asdasdas</p>
      </div>
    </main>
  </body>
</html>