<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('../partials/head'); %>
</head>
<body>
    <header>
        <%- include('../partials/header'); %>
    </header>
    <h1>Register</h1>
    <form method="post" action="register">
        <p>
            <label>Email</label><br>
            <input type="email" name="email" required>
        </p>
        <p>
            <label>Password</label><br>
            <input type="password" name="password" required>
        </p>
        <p>
            <% if (typeof error !== "undefined") { %>
                <p><mark><%= error %></mark></p>
            <% } %>
        </p>
        <button type="submit">Submit</button>
    </form>
</body>
</html>