.index-wrapper {
    width: 70%;
    margin-top: var(--spacing-xl);
    margin-left: auto;
    margin-right: auto;
    display: flex;
    flex-direction: column;
    gap: var(--spacing-xl);
}

.article {
    box-shadow: inset 0 0 0 1px var(--color-contrast-lower);
    border-radius: var(--border-radius);
    padding: var(--spacing-lg);
}

.article-heading {
    font-size: 2.8rem;
}

.article a, .article p, .article summary {
    font-size: 2rem;
}

.intro-heading {
    font-size: 3.5rem;
    margin-bottom: var(--spacing-sm);
}

.intro-body, .intro-body a {
    font-size: 2rem;
}