.index-wrapper {
    width: 70%;
    margin-top: var(--spacing-xl);
    margin-left: auto;
    margin-right: auto;
    display: flex;
    flex-direction: column;
    gap: var(--spacing-xl);
}

.intro-heading {
    font-size: 3.5rem;
    margin-bottom: var(--spacing-sm);
}

.intro-body, .intro-body a {
    font-size: 2rem;
}