.wrapper {
    width: 70%;
    margin-top: var(--spacing-xl);
    margin-left: auto;
    margin-right: auto;
    display: flex;
    flex-direction: column;
    gap: var(--spacing-xl);
}

.token-form {
    display: flex;
    flex-flow: wrap;
    gap: var(--spacing-md);
    align-items: end;
}

.table-wrapper {
    margin-top: var(--spacing-md);
    overflow-x: auto;
}

