<meta charset="UTF-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<meta name="keywords" content="grap, email, smtp, smatp-server, api, testing">
<meta name="author" content="ivstiv">
<meta name="description" content="Simple service for generating temporary email addresses.">
<meta name="robots" content="index, follow">
<meta property="og:title" content="grap | Temporary email">
<meta property="og:description" content="Simple service for generating temporary email addresses.">
<meta property="og:url" content="https://grap.email">
<title>grap | Temporary email </title>
<!-- <link rel="stylesheet" href="https://cdn.simplecss.org/simple.min.css"> -->
<link rel="stylesheet" href="/public/css/simple.css" media="screen">
<link rel="stylesheet" href="/public/css/styles.css" media="screen">