.alert {
    box-shadow: inset 0 0 0 1px var(--color-contrast-lower);
    border-radius: var(--border-radius);
    padding: var(--spacing-lg);
    background-color: var(--alert-color);
    display: flex;
    gap: var(--spacing-md);
}

.alert * {
    font-size: 2rem;
    color: black;
}