input {
    border: 0;
    width: 100%;
    border-radius: var(--border-radius);
    padding: var(--spacing-tiny);
    /* box-shadow: inset 0 0 0 1px var(--color-input-border); */
    font-size: 2rem;
    background-color: var(--background-color-primary);
    box-shadow: inset 0 0 0 1px var(--color-contrast-lower);
    transition: box-shadow .2s ease;
    outline: none;
    color: var(--color-contrast-higher);
}

input:focus {
    box-shadow: inset 0 0 0 2px var(--color-contrast-higher);
}